h1,
p {
  font-family: Lato;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}
/* 
This img style is breaking leaflet
Need to scope it to a specific element
*/
img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
  min-height: 400px;
}
